body {
  margin: 0;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  background-color: skyblue;
}

@media only screen and (min-width: 1080px) {
  body {
    font-size: 16px;
  }
}

.big-text {
  font-size: 5rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin: 7rem 0 2.5rem;
  text-transform: uppercase;
}

.main-app {
  text-align: center;
  margin: 3rem 0;
}

.password {
  display: inline-block;
  border: 1px grey solid;
  border-radius: 2rem;
  padding: 1rem 0;
  width: 95%;
  font-size: 4.3rem;
  vertical-align: middle;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  background-color: white;
  color: steelblue;
}

.pass-part {
  text-transform: capitalize;
}

.generate-btn {
  border: 1px grey solid;
  border-radius: .3rem;
  width: 20rem;
  padding: 1rem;
  margin: 2rem auto 4rem;
  vertical-align: middle;
  background-color: #4f7549;
  color: white;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.3);
  font-size: 3.5rem;
}

.generate-btn:hover {
  background-color: #6ea365;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
  cursor: pointer;
  transform: scale(1.1);
}

.generate-btn:active {
  box-shadow: none;
  cursor: pointer;
  transform: scale(1);
}

.about {
  border: 1px grey solid;
  border-radius: .2rem;
  padding: 1rem;
  width: 70%;
  margin: 3rem auto;
  line-height: 1.5;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  background-color: white;
}

.format-ex {
  color: #333;
}

.question {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #333;
}

.answer {
  margin: 0 2rem;
  text-align: center;
  line-height: 2;
  color: #555;
  font-size: 1.5rem;
}

.answer-list-container {
  margin: 0 auto;
}

.answer-list {
  width: 80%;
  min-width: 10rem;
  margin: 0 auto;
  line-height: 2;
  color: #555;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1080px) {
  .question {
    font-size: 2rem;
  }

  .answer {
    font-size: 1rem;
  }

  .answer-list {
    width: 50%;
    font-size: 1rem;
  }
}

.no-save-container {
  text-align: center;
  margin: 2rem;
}

.api-credit {
  text-align: center;
}

.footer {
  text-align: center;
  margin: 3rem 0 0;
  background-color: lavender;
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: grey;
}

.footer a i {
  color: #555;
  margin: 0 .5rem;
}

.footer a:hover,
.footer a i:hover {
  color: #000
}
